BraveSoftware/
Code/
KDE/
MiniZinc/
QtProject.conf
Trolltech.conf
arkrc
balena-etcher/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
dconf/
dolphinrc
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
htop/
kactivitymanagerdrc
katevirc
kcminputrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kwriterc
libaccounts-glib/
libreoffice/
mimeapps.list
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmashellrc
powermanagementprofilesrc
pulse/
qalculate/
session/
spectaclerc
spotify/
systemsettingsrc
trashrc
user-dirs.dirs
user-dirs.locale
xdg-desktop-portal-kderc
xsettingsd/
